body{
  background-color: rgba(244, 244, 244, 0.527);
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}


button{
  background-color: none;
  border: none;
  cursor: pointer;
}

input[type="file" i]::-webkit-file-upload-button {
    width: 50%;
    background-image: url('./assets/upload.svg');
    background-size: 15%;
    background-repeat: no-repeat;
    background-color: transparent;
    border:none;
    color: gray;
    background-position: left;
}


